/* header */

.bg-1 {
    background-image: url("../images/fabric.jpg");
    background-repeat: repeat;  
    background-color: #ffffff;
    padding: 30px;
}

h1 {
    font-family: 'Rammetto One', cursive;  
}

 a {
    color: #BF0A30;
    font-size: 16px;
    font-family: 'Rammetto One', cursive;
    line-height: 150%; 
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    color: #BF0A30;
    background-color: none; 

}


/*body*/
body {
    background-image: url("../images/eagles.gif");
    background-size: 200px; 
    background-repeat: repeat;
    background-color: #ffffff;
}

.site-content {
    padding-bottom: 25px;    
    margin-bottom: 25px;    ;   
}

.guess-content {
    padding-bottom: 50px;   
}



/* footer */ 

.bg-3 {
    background-image: url("../images/fabric.jpg");
    background-size: 100px; 
    background-repeat: repeat;
    font-family: 'Rammetto One', cursive;
    font-size: 16px;
    color: #ffffff;
    background-color: #ffffff;
    padding: 10px;
    line-height: 150%;
}